body {
    overflow: hidden; /* Hide scrollbars */
}
h1{
    background-color: IndianRed;
    display: inline;
    padding: 2px;
}
span{
    background-color: LightSalmon;
    display: block;
    padding: 2px;
}
.spannier{
    background-color: transparent;
    padding:40px;
    margin: 10px;
    border: 1px solid black;
    display: inline;
}
div{
    height: 100px;
    width: 100px;
    background-color: Khaki;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
}
h2{
    background-color: Thistle;
    height: 30px;
    width: 500px;
    padding: 2px;
}
h2:hover{
    display: none;
}